#destacado {
    float:right;
}
#nav {
    float:right;
}
#body {
    background-color: bisque;
}
#carrito {
    float: right;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
}
img#camisetas{
    border: black 1px solid;
}
div#apertura{
    padding: 5px 10px 5px 10px;
    margin: 2px;
    float:left;
}